body {
    background-color: #F2F2F2;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Futura", serif;
    color: #403D3C;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: underline;
}

a:link, a:visited {
    color: mediumblue;
}

a:hover {
    color: coral;
}
div.svelte-levc5j{display:flex;justify-content:center;align-items:center}nav.svelte-levc5j{text-align:center;background-color:#dedddd;padding:2px;width:200px;border:solid 2px #403d3c;border-radius:5px}